# Admin Credentials
ADMIN_EMAIL=guisdevsp@gmail.com
ADMIN_PASSWORD=gus@dev2026
JWT_SECRET=super-secret-key-for-gus-dev-2026

# Affiliate Link
DEFAULT_AFFILIATE_LINK=https://www.hostgator.com.br/afiliados
